/* small device */
@media screen and (max-width: 576px) {
  .nav-container {
    flex-direction: column;
    margin: 0 auto;
  }
  .nav-burger {
    display: block;
    color: rgba(239, 13, 5, 0.805);
    margin-top: 20px;
  }
  .nav-container ul {
    display: none;
  }
  .banner-container {
    flex-direction: column;
    margin-top: 20px;
    margin: 0 auto;
  }
  .banner-box-1 {
    position: absolute;
    top: 730px;
    right: 40px;
    margin: 0 auto;
  }
  .banner-box-2 {
    width: 200px;
    height: 100px;
    left: 50px;
    top: 990px;
    margin: 0 auto;
  }
  .banner-img img {
    margin-top: 30px;
    max-width: 100%;
    margin: 0 auto;
  }
  .habit-section-image {
    flex-direction: column;
    margin: 0 auto;
  }
  .run-container {
    width: 350px;
    height: auto;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }
  .subscription-container {
    width: 350px;
    height: auto;
    justify-content: center;
  }
  .bmi-calculator-title {
    text-align: center;
    margin: 0 auto;
  }
  .bmi-calculator-section {
    flex-direction: column;
  }
  .team-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-part {
    flex-direction: column;
    text-align: center;
  }
  .footer-finish {
    align-items: center;
    max-width: 576px;
  }
  .footer-line {
    width: 350px;
    margin: 0 auto;
  }
}

/* medium device  */

@media screen and (min-width: 650px) and (max-width: 980px) {
  .banner-box-1 {
    position: absolute;
    top: 250px;
    right: 5px;
    margin: 0 auto;
  }
  .banner-box-2 {
    position: absolute;
    width: 200px;
    height: 100px;
    left: 500px;
    top: 590px;
    margin: 0 auto;
  }
  .banner-img img {
    max-width: 100%;
    margin: 0 auto;
  }
  .run-container {
    width: 750px;
    justify-content: space-evenly;
  }
  .subscription-container {
    width: 750px;
  }
  .team-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-finish {
    align-items: center;
    max-width: 700px;
  }
  .footer-line {
    width: 570px;
    margin: 0 auto;
  }
}
