@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.cdnfonts.com/css/miama");

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

* {
  max-width: 1440px;
  margin: 0 auto;
  background: rgb(12, 11, 11);
}
/* nav css start */
.nav-container {
  display: flex;
  color: #fff;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 5px;
  max-width: 1240px;
}
.nav-container h2 {
  color: red;
  font-size: 2.25rem;
  font-style: italic;
  font-weight: 700;
}
.nav-container ul {
  font-size: 1.1rem;
  font-weight: 100;
  list-style: none;
  display: inline-flex;
  align-items: center;
  gap: 30px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  cursor: pointer;
  padding: 10px 20px;
}
.nav-home {
  width: 70px;
  height: 28px;
  border-radius: 50px;
  background: rgb(230, 83, 60);
  padding: 8px 20px 8px 20px;
  text-align: center;
}
.nav-burger {
  display: none;
}
/* nav css end */

/* banner css start */
.banner-container {
  max-width: 1240px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.banner-text {
  color: hsl(0, 0%, 100%);
}
.banner-text h1 {
  font-size: 4.5rem;
  font-weight: 900;
}
.banner-shape {
  font-family: "Miama", sans-serif;
  font-size: 4.88rem;
  font-weight: 400;
}
.banner-text p {
  margin-top: 50px;
  margin-bottom: 25px;
  font-size: 0.9rem;
  color: #ffffff7f;
}
.join-btn {
  color: #fff;
  padding: 16px 40px 16px 40px;
  border-radius: 42px;
  border-style: none;
  background: rgb(230, 83, 60);
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}
.download-btn {
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 42px;
  font-weight: 700;
  font-size: 1rem;
  color: #fff;
  padding: 16px 40px 16px 40px;
  margin-left: 4px;
  cursor: pointer;
}
.banner-box-1 {
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.102);
  border-radius: 12px;
  position: absolute;
  padding: 15px 20px;
  top: 250px;
  right: 150px;
  border-style: none;
}
.banner-box-2 {
  display: flex;
  align-items: center;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 15px 20px;
  position: absolute;
  bottom: 100px;
  left: 850px;
  border-style: none;
}
.red-circle {
  width: 30px;
  height: 30px;
  background-color: orangered;
  border-radius: 50%;
  margin-right: 10px;
}
.five-hundred {
  font-size: 2rem;
  font-weight: 500;
}
.three-hundred {
  font-size: 2rem;
  font-weight: 500;
}
.banner-img img {
  position: relative;
}
/* banner css end */

/* habit css start */
.habit-section {
  max-width: 1240px;
  text-align: center;
  color: #fff;
}
.habit-section h2 {
  font-size: 2.5rem;
  font-weight: 900;
  margin-top: 50px;
  margin-bottom: 20px;
}
.habit-section p {
  font-size: 0.9rem;
  font-weight: 300;
  color: rgba(150, 149, 149, 0.732);
  margin-bottom: 40px;
}
.habit-images img {
  border-radius: 50%;
  margin-bottom: 10px;
}
.habit-text h3 {
  font-size: 1.1rem;
  margin-top: 5px;
  margin-bottom: 5px;
}
.habit-section-image {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 15px;
  margin: 0 auto;
}

/* habit css end */
